
.main-container {
    background-color: beige;
}

.main-container .row {
    line-height: 0;
    height: 100%;
}

.main-container .row .col {
    width: 200px;
    height: 200px;
    display: inline-block;
}